# Arquivos temporários gerados pelo Python
__pycache__/
*.pyc
*.pyo

# Ambientes virtuais
.venv/
venv/

# Configurações locais do VS Code
.vscode/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db